*{
  margin: 0px;
  padding: 0px;
}
/* .overall {
  width: 100%;
  height: 100%;
  background-color: rgba(223, 230, 233,1.0);
  position: relative;
} */
.title{
  width: 100%;
  height: 100px;
}
.title_1{
  width: 100%;
  height: 60px;
  background-color: rgba(242,159,89,255);
}
.title_2{
  width: 100%;
  height: 40px;
  background-color: rgba(255,240,245 ,1);
}
.sidebar{
  display: none;
}
.logo>img{
  width: 60px;
  position: absolute;
  transform: scaleY(-1);
}
/* #title_button{
  background-color: #4CAF50; Green
  border: none;
  color: #4CAF50;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  float: right;
  width: 60px;
  height: 40px;
  margin-top: 10px;
  margin-right: 10px
} */
#title_button{ /* 按钮美化 */
	width: 60px; /* 宽度 */
	height: 40px; /* 高度 */
	border-width: 0px; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: #1E90FF; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	font-family: Microsoft YaHei; /* 设置字体 */
	color: white; /* 字体颜色 */
	font-size: 20px; /* 字体大小 */
	font-weight: bold;
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
#title_button:hover { /* 鼠标移入按钮范围时改变颜色 */
	background: #5599FF;
}
.title_3{
  width: 100%;
  height: 200px;
  background-color: rgba(250,250,210 ,1);
  border-radius: 0px 0px 25px 25px;
  position: absolute;
  display: block;
}
