*{
  margin: 0px;
  padding: 0px;
}
/* .overall {
  width: 100%;
  height: 100%;
  background-color: rgba(223, 230, 233,1.0);
  position: relative;
} */
.title{
  width: 100%;
  height: 100px;
}
.title_1{
  width: 100%;
  height: 60px;
  background-color: rgba(242,159,89,255);
}
.title_2{
  width: 100%;
  height: 40px;
  background-color: rgba(255,240,245 ,1);
}
.sidebar{
  display: none;
}
.logo>img{
  width: 60px;
  position: absolute;
  transform: scaleY(-1);
}