*{
    padding: 0px;
    margin: 0px;
}
/* 这个是大宽度下的页面，暂时先这么写，等这个页面适配完了在写中宽度的页面 */
/* 大页面宽度为900，900以下就直接换中页面 */
#control_bar{
    width: 100vw;
    height: 80px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    position: relative;
}
#adaptive_logo{
    width: 300px;
    height: 80px;
    /* 这里不能加百分比高度以后做动画会出bug */
    background-color: rgb(255, 255, 255);
    float: left;
    margin-left: 5%;
}
#subjective_operation_panel{
    width: 60%;
    height: 80px;
    /* 这里不能加百分比高度以后做动画会出bug */
    /* background-color: rgb(105, 6, 6); */
    float: right;
    position: relative;
}
#subjective_operation_panel>div{
    width: 25%;
    height: 80px;
    float: left;
    /* background-color: rgb(104, 211, 184); */
}