*{
  margin: 0px;
  padding: 0px;
}
#div1_0 {
  width: 100vw;
  height: 100vh;
  background-color: #292929;
  transform: translateX(-10vw);
  float: left;
}
#div1_1 {
  width: 100vw;
  height: 7vh;
  background-color: #8c7263;
}
#div1_2{
  width: 100vw;
  height: 93vh;
  background-color: #f5f5f5;
}
